/*=============================================================================
Styles des balises HTML
=============================================================================*/

:root {
    font-size: 14px;
}


body{
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.3rem;
    font-family:'Text', Arial, Helvetica, sans-serif
}

h1, h2, h3, h4{
    font-family: 'Titre', 'Times New Roman', Times, serif;
}

a{
    color: var(--color-primary);
    text-decoration: none;
}

a:hover{
    color: var(--color-primary-hover);
}


@media screen and (min-width: 640px) {
    :root {
        font-size: 16px;
    }

    body{
        line-height: 1.5rem;
    }

}