@font-face {
    font-family: 'Labeur';
    src: url('fonts/crimson.woff2') format('woff2'),
         url('fonts/crimson.woff') format('woff');
}

@font-face {
    font-family: 'Citation';
    src: url('fonts/ebgaramonitalic.woff2') format('woff2'),
         url('fonts/ebgaramonitalic.woff') format('woff');
}


@font-face {
    font-family: 'Titre';
    src: url('fonts/librebaskerville.woff2') format('woff2'),
         url('fonts/librebaskerville.woff') format('woff');
}

