@media (max-width:580px){
    .no-sm{
        display: none;
    }
}


.no-display{
    display: none;
}



#submit-btn:disabled {
    opacity: 0.5;
    cursor:not-allowed;
}

body{
    background-color: aqua;
}