.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.field-accept{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.fields input, textarea{
    padding: .6rem;
    font-size: 1rem;
    border: 1px solid $color-nav;
    border-radius: 0.3rem;
    background-color: lighten($color-bg, 50%);
}

.btn-primary{
    @extend .btn;
    background-color: $color-nav;
    color: $color-nav;
    width: 10rem;
    cursor: pointer;
}


