.title-page{
    margin: 2.4rem auto;
    text-align: center;
    font-size: 1.72rem;
}

/*=============================================================================
Les citations
=============================================================================*/




