/*==============================================================
GENERAL
===============================================================*/

.menu{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.menu a{
    text-decoration: none;
}

.menu a:hover, .menu li.active a{
    text-decoration: underline;
}


html,body{
    height: 98vh;
}

body{
    display: flex;
    flex-direction: column;
}


#main{
    flex-grow: 1;
}

.wrapper{
    width: 1200px;
    margin: auto;
}





/*=====================================================================
HEADER
===================================================================*/

#header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}


/*=====================================================================
CARTES
===================================================================*/
.cartes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
}


.carte{
    width: 20rem;
    box-sizing: border-box;
    background-color: bisque;
    padding: 1rem;
    border-radius: .8rem;
    cursor: pointer;
    box-shadow: 0 0 .2rem black;
}


.carte:hover{
     box-shadow: 0 0 .4rem black;
}

.carte-titre{
    margin-top: 0;
    text-align: center;
}