@font-face {
  font-family: "Title";
  src: url(../../public/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Text";
  src: url(../../public/fonts/OpenSans-Regular.ttf);
}
:root, html {
  font-size: 14px;
}

body {
  font-family: "Text", sans-serif;
  color: #202429;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body .title {
  font-family: "Title", serif;
  font-weight: normal;
}
body .title-page {
  font-size: 1.5rem;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #202429;
}
body a:hover {
  color: #e2007d;
}

.hidden {
  display: none;
}

@media screen and (min-width: 720px) {
  :root, html {
    font-size: 16px;
  }
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 0;
  margin: 0;
  position: relative;
  background-color: #ffffff;
}

.logo {
  height: 80px;
}

#nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  z-index: 1;
  background-color: #ffffff;
}
#nav.hidden {
  display: none;
}
#nav .main-menu {
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
}
#nav .main-menu li {
  border-bottom: 1px solid #ffffff;
}
#nav .main-menu .item-menu {
  display: block;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #202429;
  background-color: #86ba33;
}
#nav .main-menu .item-menu:hover {
  color: #e2007d;
}
#nav .main-menu .active {
  background-color: #44a33c;
}

.burger-button {
  background: none;
  border: none;
}
.burger-button svg:hover {
  cursor: pointer;
}

@media screen and (min-width: 620px) {
  #header {
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
  }
  .logo {
    padding-left: 2rem;
  }
  .burger-button {
    display: none;
  }
  #nav {
    position: static;
    text-align: center;
  }
  #nav.hidden {
    display: flex;
  }
  #nav .main-menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #86ba33;
    margin-top: 1rem;
  }
  #nav .main-menu li {
    border: none;
  }
  #nav .main-menu .item-menu {
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
}
.breadcrumbs {
  padding: 1rem 2rem;
  background-color: #ffffff;
}
.breadcrumbs a {
  color: #e2007d;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

#main {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding-bottom: 2rem;
}
#main .wrapper {
  margin: auto;
}
#main .chapo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.2rem 1rem 1.2rem;
}
#main .chapo .text-chapo {
  font-family: "Text", sans-serif;
  font-style: italic;
}
#main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
#main .cards .card {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0 1rem 1rem 1rem;
}
#main .cards .card .card-title {
  font-size: 1.2rem;
}
#main .cards .card .card-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
#main .cards .card .card-content .card-image {
  width: 100%;
  overflow: hidden;
}
#main .cards .card .card-content .card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#main .cards .card .card-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
#main .cards .card .card-icons a {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
#main .cards .card .card-icons a:hover {
  text-decoration: underline;
}
#main .cards .card .card-icons img {
  width: 1rem;
  height: 1rem;
}
#main .cards .card .card-icons .card-link {
  font-style: italic;
  color: #e2007d;
}

@media screen and (min-width: 600px) {
  #main .wrapper {
    margin: 0 2rem;
  }
  #main .cards .card {
    width: 45%;
  }
}
@media screen and (min-width: 1080px) {
  #main .wrapper {
    margin: 0 5rem;
  }
  #main .cards .card {
    width: 30%;
  }
}
.footer-logos {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
}
.footer-logos .footer-logo {
  height: 60px;
  margin: 1rem 0;
}

#footer-nav {
  background-color: #86ba33;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
#footer-nav .page-menu {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0 1rem;
}
#footer-nav .social-menu {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
}
#footer-nav .social-menu img {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 620px) {
  #footer {
    background-color: #86ba33;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 2rem;
  }
  #footer .footer-logos {
    background-color: #ffffff;
  }
  #footer #footer-nav .page-menu {
    padding-right: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
