html, body{
    width: 393px;
    background-color: #FDFBF6;
}
.citation-aleatoire{
    width: 393px;
    height: 163px;
    background-color: #FDFBF6;
    box-shadow: 0px 4px 4px  rgb(102 34 204 / 0.5);
}

.etiquette-citation{
    display: block;
    background-color: #FAF2E6;
    width: 345px;
    height: 72px;
}

.fleche{
    width: 24px;
    height: 24px;
}

.bouton{
    width: 140px;
    height: 28px;
    background-color: #6622CC;
}