html, body{
    width: 393px;
    background-color: #FDFBF6;
}

@font-face {
    font-family: titre;
    src: url(public/fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: labeur;
    src: url(public/fonts/CrimsonPro-Regular.ttf);
}

@font-face {
    font-family: font-citation;
    src: url(public/fonts/EBGaramond-Regular.ttf);
}

a{    
    text-decoration: unset;
}
ul{
    list-style-type: none;
}

.citation{
    font-family: font-citation, serif;
    font-size: 14px;
}

.citation-aleatoire{
    width: 393px;
    height: 163px;
    background-color: #FDFBF6;
    box-shadow: 0px 4px 4px  rgb(102 34 204 / 0.5);
}

.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 51px;
    margin-top: 31px;
    margin-bottom: 31px;
}

.etiquette-citation{
    display: block;
    background-color: #FAF2E6;
    width: 345px;
    height: 72px;
}

.fleche{
    width: 24px;
    height: 24px;
}

.bouton{
    width: 140px;
    height: 28px;
    background-color: #6622CC;
}

.pagination-perso{
    width: 202px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}