@use 'vars' as v;
@use 'fonts';
:root, html {
    font-size: 14px;
}
body {
    font-family: 'Texte', sans-serif;
    color : v.$text-color;
    background-color: v.$background-color;
    margin: 0;
}
.hidden {
    display: none;
}

@media screen and (min-width : 720px) {
    :root, html {
        font-size: 16px;
    }
}