body {
    
    background-color: #FAF2E6;
    margin: 0px;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #EBDCC6;
    padding: 12px;
}

.header {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding-left: 12px;
}
    

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.item {
    color: #3A3227;
    text-decoration: none;
    font-size: 15px;
    font-family:'Crimson Pro', serif;
}

.search{
    width: 15px;
    height: 15px;
}

.logo {
    width: 81.23px;

}

@media screen and (min-width: 720px) {
    .item {
        font-size: 18px;
    }

    .search {
        width: 18px;
        height: 18px;
    }

    .logo {
        width: 100px;
    }

    .header {
        gap: 25px;
    }
}

    


@media screen and (min-width: 1200px) {
    .item {
        font-size: 21px;
    }

    .search {
        width: 22px;
        height: 22px;
    }

    .logo {
        width: 130px;
    }

    .header {
        gap: 20px;
    }
}
