@font-face {

    font-family: 'Crimson Pro', serif;
    src: url('../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskerville', serif;
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}

h1 {
    font-family: 'LibreBaskerville';
}

body {
    min-width: 375px;
    margin: 0px;
}

.container {
    margin: auto;
    width: 96%;
    background-color: #FAF2E6;
}

.title {
    display: flex;
    justify-content: center;
    background-color: #E4C496;
    height: 69px;
    margin-bottom: 15px;
}

.card {
    background-color: #EEE6D7;
    width: 100%;
    height: 123px;
    border-radius: 7px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.btns {
    width: 18%;
    background-color: #EEDBBE;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 12px;
}

.quoteauthor {
    width: 79%;
    padding-top: 12px;
    padding-bottom: auto;
}

.p-card-quote {
    margin-top: 0px;
    margin-bottom: 28px;
}

.p-card {
    margin: 0px;
    padding-left: 12px;
}

.card-author {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    padding: 0;
}

.p-pag {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pagination {
    width: 256px;
    height: 60px;
    background-color: #EEE6D7;
    border-radius: 5px;
    margin-inline: auto;
    margin-bottom: 45px;
}

.p-number {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.p-page {
    margin-top: 10px;
    margin-bottom: 5px;
}

.p-btns {
    display: flex;
    justify-content: center;
}

.p-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #FAF2E6;
    border-radius: 7px;
    margin-inline: 11px;
}

.p-img{
    width: 16px;
    height: 16px;
}

/* UNIQUEMENT POUR LE FOOTERFRONT */
.footer {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 5px;
    padding-left: 0px;
    text-decoration: none;
}

#main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

#main a {
    text-decoration: none;
    color: #3A3227;
}

#rs {
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#footer {
    height: 80px;
    background-color: #EBDCC6;
    padding: 0px;
}

@media screen and (min-width: 834px) {
    #footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer li {
        margin: 0 24px;
    }

    #main {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 0px;
    }

    #rs {
        margin: 0px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 0px;
    }
}

/* FIN DU CSS POUR LE FOOTERFRONT */