body{
    background-color: #FAF2E6;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5{
    margin: 0;
}

.container-dark{ 
    padding: 1rem;
  max-width: 600px;
  margin: auto;
  background-color:hsla(35,55%, 57%, 0.4);
  

}

.container-ligth{
 padding: 1rem;
  max-width: 100%;
  margin: auto;
}

.container-ligth img {
  width: calc(100% - 42px); 
  margin: 1rem 21px;
  height: auto;
  display: block;
  border-radius: 6px;
}


.tiltle{
    text-align: center;
    font-weight: bold;
  font-size: 1.3rem;
  color: #5B3C11;
}

.author-name {
  text-align: center;
  color: #5B3C11;

}

.author-dates{
    text-align: center;
    margin-top: 0.5rem;
    color: #5B3C11;
}

.fil-arianne{
    text-decoration: none;
    color: #5B3C11 ;
    font-size: 0.9rem;
}

.active{
    text-decoration: underline;
}

.sub-tiltles{
     text-align: center;
    font-weight: bold;
  font-size: 1.3rem;
  color: #5B3C11;
}

.biography{
        margin-left: 21px;
    margin-right: 21px;
    color: #5B3C11;
}

.fils-arianne{
    margin-left:21px ;
    margin-right: 21px;
}

.quotes{
    list-style: none;
}


.page-item {
  margin-bottom: 1rem;  
  color: #5B3C11;
}

.button-wrapper{
   display: flex;
  justify-content: center;
  
}
.button {
     
      background-color: #7A1DE8; 
      color: white;
      font-family: 'Segoe UI', sans-serif;
      font-size: 18px;
      padding: 12px 24px;
      border: none;
      border-radius: 9999px; 
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      
    }