h1{
    background-color: #FAF2E6;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    color: #5B3C11;
    text-align: center;
}

h2{
    background-color: hsla(35, 55%, 57%, 0.40);
    margin: 0%;
    color: #5B3C11;
    font-size: 1em;
    
}

span{
    color:  #6622CC;
}

.accueil{
    background-color: hsla(35, 55%, 57%, 0.40);
    margin: 0%;
}


.slide{ 
    height: 300px;
    width: 250px;
    display:flex;
    margin-left: 60px;
    border-radius: 20%;
}

.precedent1{
    position: absolute;
    font-size: 50px;
    opacity: 0;
    background-color: #0000001f;
    color: #5B3C11;;
    top: 800px;
    left: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.suivant1{
    position: absolute;
    font-size: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #0000001f;
    color:#5B3C11; ;
    cursor: pointer;
    top: 800px;
    right: 20px;
}

.precedent1:hover{
    opacity: 1;
}

.suivant1:hover{
    opacity: 1;
}

h3{
    justify-content: center;
    display: flex;
    margin: 0%;
}

.precedent2{
    position: absolute;
    font-size: 50px;
    opacity: 0;
    background-color: #0000001f;
    color: #5B3C11;;
    top: 1250px;
    left: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.suivant2{
    position: absolute;
    font-size: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #0000001f;
    color:#5B3C11;;
    cursor: pointer;
    top: 1250px;
    right: 20px;
}

.precedent2:hover{
    opacity: 1;
}

.suivant2:hover{
    opacity: 1;
}