body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;

}

.container-dark {
    padding: 1rem;
    max-width: 100%;
    margin: auto;
    background-color: hsla(35, 55%, 57%, 0.4);
}
.container-ligth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 100%;
    height: 18px;
    margin: auto;
    background-color: #FAF2E6;
}

.fil-arianne {
    text-decoration: none;
    color: #5B3C11;
    font-size: 0.9rem;
}

.active {
    text-decoration: underline;
}

.tiltle {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: #5B3C11;
    font-family: "titre_h1";
}

.card {
    padding: 1rem;
    background-color: #FAF2E6;
    margin: 1rem;
    justify-content: center;
    border-radius: 6%;
    text-align: center;

}

p {
    text-align: center;
}

.author-link {
    text-align: center;
    color: #6F2ECE;
    text-decoration: none;
}
.explanation {
background-color:#FAF2E6 ;
}

